body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top right, #0E0E0E 25%, #747474);
    overflow: hidden;
}

#senai {
    position: absolute;
    width: 9.27vw;
    margin-top: 1.45%;
    margin-left: 2.5%;
}

.traco {
    position: absolute;
    width: 0.01vw;
    height: 6.2vh;
    background-color: white;
    margin-top: 1.75%;
    margin-left: 12.25%;
}

#mor {
    position: absolute;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 250;
    font-size: 2.1vh;
    margin-top: 2.1%;
    margin-right: 79%;
    margin-left: 13.2%;
}

#logo {
    position: absolute;
    width: 5.47vw;
    margin-left: 4.375%;
    margin-top: 5.3%;
}

#bolinhacima {
    position: absolute;
    width: 5.2vw;
    margin-left: 47%;
    margin-top: -5.4%;
    transform: rotate(-90deg);
}

#cima {
    position: absolute;
    width: 6.71vw;
    margin-left: 81%;
    margin-top: 2.3%;
}

#bolinhadireita {
    position: absolute;
    width: 5.2vw;
    margin-left: 94.8%;
    margin-top: 18%;
}

#bolinhaesquerda {
    position: absolute;
    width: 5.2vw;
    margin-top: 14%;
    transform: rotate(-90deg);
}

#esquerda {
    position: absolute;
    width: 22.8vw;
    margin-top: 26.35%;
}

#direita {
    position: absolute;
    width: 23vw;
    margin-top: 33.25%;
    margin-left: 76.95%;
}

#grupo {
    position: absolute;
    width: 4.4vw;
    margin-top: 47%;
    margin-left: 43%;
}

#nome {
    position: absolute;
    margin-top: 47.7%;
    margin-left: 48%;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 250;
    font-size: 1.6vh;
}

.fundo {
    position: absolute;
    width: 26.61vw;
    height: 44vh;
    background: #1c1c1cb0;
    border-radius: 5%;
    margin-top: 15%;
    margin-left: 37%;
}

h1 {
    position: absolute;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 4vh;
    margin-left: 10%;
}

h2 {
    position: absolute;
    color: #D0D0D0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2vh;
    margin-left: 10%;
    margin-top: 15%;
}

#email {
    position: absolute;
    width: 21.2vw;
    height: 4.72vh;
    background: #FFFFFF;
    border-radius: 0.4vw;
    margin-top: 31%;
    margin-left: 10%;
    border: 0;
}

#usu {
    position: absolute;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    margin-left: 10%;
    margin-top: 25%;
}

#senha {
    position: absolute;
    width: 21.2vw;
    height: 4.72vh;
    background: #FFFFFF;
    border-radius: 0.4vw;
    margin-top: 48%;
    margin-left: 10%;
    border: 0;
}
input{
    font-size: 1vw;
}

#sen {
    position: absolute;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    margin-left: 10%;
    margin-top: 42%;
}

#entrar {
    position: absolute;
    width: 21.37vw;
    height: 5vh;
    background: #D61717;
    border-radius: 0.4vw;
    margin-top: 60%;
    margin-left: 10%;
    border: 0;
    transition: all ease;
    cursor: pointer;
}
#entrar:hover {
transform: scale(1.03);
}

#entrar p {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    margin-top: 2.3%;
}

/* ---------------------------------------------------------------------------- */
/* Monitores menores */
@media (max-width: 1400px) {
    #grupo {
    margin-top: 44.5%;
    }
    #nome {
    margin-top: 45%;
    }
    .fundo {
    height: 50vh;
    }
}
/* ---------------------------------------------------------------------------- */
/* PARA TABLET Vertical */
@media (max-width: 1199px) {
    #senai {
        width: 25vw;
    }
    .traco {
        margin-left: 28.7%;
    }
    #mor {
        font-size: 2vh;
        margin-top: 2.9%;
        margin-left: 30%;
    }
    #logo {
        width: 10vw;
        margin-top: 12%;
    }
    #cima {
        width: 11vw;
    }
    #bolinhadireita {
        width: 8vw;
        margin-left: 85%;
        margin-top: 80%;
    }
    #bolinhaesquerda {
        width: 8vw;
        margin-top: 20%;
    }
    #esquerda {
        position: absolute;
        width: 30vw;
        margin-top: 125%;
    }
    #direita {
        width: 30vw;
        margin-top: 137%;
    }
    #grupo {
        width: 8vw;
        margin-top: 140%;
        margin-left: 36%;
    }
    #nome {
        margin-top: 140.6%;
        margin-left: 45%;
    }
    .fundo {
        width: 60vw;
        height: 50vh;
        margin-top: 30%;
        margin-left: 20%;
    }
    h2 {
        margin-top: 23%;
    }
    #email {
        width: 48vw;
        margin-top: 45%;
    }
    #usu {
        margin-top: 35%;
    }
    #senha {
        width: 48vw;
        margin-top: 65%;
    }
    input{
        font-size: 3vw;
    }
    #sen {
        margin-top: 55%;
    }
    #entrar {
        width: 48vw;
        margin-top: 83%;
        margin-left: 10%;
    }
}
/* ---------------------------------------------------------------------------- */
/* PARA CELULAR */
@media (max-width: 425px){
    #senai {
        width: 23vw;
    }
    .traco {
        height: 0.1vh;
        background-color: transparent;
    }
    #mor {
        font-size: 1.5vh;
        margin-top: 2.4%;
        margin-left: 27%;
    }
    #logo {
        width: 9vw;
        margin-top: 10%;
    }
     #bolinhadireita {
        width: 8vw;
        margin-left: 92%;
        margin-top: 100%;
    }
    #esquerda {
        margin-top: 150.35%;
    }
    #direita {
        margin-top: 160.25%;
    }
    #grupo {
        margin-top: 175%;
    }
    #nome {
        margin-top: 175.6%;
        margin-left: 47%;
        font-size: 1.2vh;
    }
    .fundo {
        height: 48vh;
        width: 70vw;
        margin-top: 50%;
        margin-left: 16%;
    }
    h2 {
        margin-top: 21%;
    }
    #email {
        width: 55vw;
        margin-top: 50%;
    }
    #usu {
        margin-top: 40%;
    }
    #senha {
        width: 55vw;
        margin-top: 70%;
    }
    input{
        font-size: 3vw;
    }
    #sen {
        margin-top: 60%;
    }
    #entrar {
        width: 55vw;
        margin-top: 85%;
        margin-left: 11%;
    }
}